:root {
  --zoom-out: null;
}

/* CSS */
#days .day,
#workout-types .workout-type {
  width: 120px;
  height: 120px;
  display: inline-block;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#workout-types .workout-type {
  width: 120px;
  height: 120px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  line-height: 100px;
}

.workout-type:hover {
  cursor: grab;
}

/*.day {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}*/

.zoomOut {
  zoom: var(--zoom-out);
}

ul {
  list-style-type: none;
}