/* CSS */
#days .day,
#workout-types .workout-type {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}

#workout-types .workout-type {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}